@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/CircularStd-Black/CircularStd-Black.eot");
  src: url("/fonts/CircularStd-Black/CircularStd-Black.eot?#iefix") format("embedded-opentype"),
    url("/fonts/CircularStd-Black/CircularStd-Black.woff2") format("woff2"),
    url("/fonts/CircularStd-Black/CircularStd-Black.woff") format("woff"),
    url("/fonts/CircularStd-Black/CircularStd-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/CircularStd-Medium/CircularStd-Medium.eot");
  src: url("/fonts/CircularStd-Medium/CircularStd-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/CircularStd-Medium/CircularStd-Medium.woff2") format("woff2"),
    url("/fonts/CircularStd-Medium/CircularStd-Medium.woff") format("woff"),
    url("/fonts/CircularStd-Medium/CircularStd-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Circular Std Book";
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/CircularStd-BookItalic/CircularStd-BookItalic.eot");
  src: url("/fonts/CircularStd-BookItalic/CircularStd-BookItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/CircularStd-BookItalic/CircularStd-BookItalic.woff2") format("woff2"),
    url("/fonts/CircularStd-BookItalic/CircularStd-BookItalic.woff") format("woff"),
    url("/fonts/CircularStd-BookItalic/CircularStd-BookItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Circular Std";
  font-style: italic;
  font-weight: bold;
  src: url("/fonts/CircularStd-BoldItalic/CircularStd-BoldItalic.eot");
  src: url("/fonts/CircularStd-BoldItalic/CircularStd-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/CircularStd-BoldItalic/CircularStd-BoldItalic.woff2") format("woff2"),
    url("/fonts/CircularStd-BoldItalic/CircularStd-BoldItalic.woff") format("woff"),
    url("/fonts/CircularStd-BoldItalic/CircularStd-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/CircularStd-Bold/CircularStd-Bold.eot");
  src: url("/fonts/CircularStd-Bold/CircularStd-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/CircularStd-Bold/CircularStd-Bold.woff2") format("woff2"),
    url("/fonts/CircularStd-Bold/CircularStd-Bold.woff") format("woff"),
    url("/fonts/CircularStd-Bold/CircularStd-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Circular Std";
  font-style: italic;
  font-weight: 900;
  src: url("/fonts/CircularStd-BlackItalic/CircularStd-BlackItalic.eot");
  src: url("/fonts/CircularStd-BlackItalic/CircularStd-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/CircularStd-BlackItalic/CircularStd-BlackItalic.woff2") format("woff2"),
    url("/fonts/CircularStd-BlackItalic/CircularStd-BlackItalic.woff") format("woff"),
    url("/fonts/CircularStd-BlackItalic/CircularStd-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Circular Std";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/CircularStd-MediumItalic/CircularStd-MediumItalic.eot");
  src: url("/fonts/CircularStd-MediumItalic/CircularStd-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/CircularStd-MediumItalic/CircularStd-MediumItalic.woff2") format("woff2"),
    url("/fonts/CircularStd-MediumItalic/CircularStd-MediumItalic.woff") format("woff"),
    url("/fonts/CircularStd-MediumItalic/CircularStd-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Circular Std Book";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/CircularStd-Book/CircularStd-Book.eot");
  src: url("/fonts/CircularStd-Book/CircularStd-Book.eot?#iefix") format("embedded-opentype"),
    url("/fonts/CircularStd-Book/CircularStd-Book.woff2") format("woff2"),
    url("/fonts/CircularStd-Book/CircularStd-Book.woff") format("woff"),
    url("/fonts/CircularStd-Book/CircularStd-Book.ttf") format("truetype");
}

.hidden {
  display: none;
}

html {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-image: linear-gradient(to right, #fbfeff, #fbfefe, #fcfffd);
  color: #464646;
  font-family: "Circular Std";
  height: 100%;
}

.container {
  padding-top: 76px;
}

input,
textarea {
  color: #969696;
  font-family: 'Circular Std Book';
  font-size: 18px;
  line-height: 26px;
}

input:focus,
textarea:focus {
  background-color: #fff;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(128, 189, 255, .25);
  color: #969696;
}

.btn {
  background-color: #57afca;
  border: 1px solid #57afca;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-family: 'Circular Std';
  font-size: 24px;
  font-weight: 900;
  line-height: normal;
  min-width: 140px;
  padding: 4px 18px;
}

.btn.btn-secondary {
  background-color: #b4b4b4;
  border-color: #b4b4b4;
}

a {
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.notification {
  background-color: #57afca;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  height: 18px;
  line-height: 18px;
  text-align: center;
  width: 18px;
}

.modal {
  transform: translateY(-50%);
  top: 50%;
}

/* ==========================================================================
   Header
   ========================================================================== */
.basic-header-container {
  height: 48px;
  margin: 0 auto;
  max-width: 1100px;
  position: relative;
}

.basic-header-container .logo {
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  display: block;
  height: 20px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 170px;
}

.header-container {
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .28);
  display: block;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-container .container {
  padding-top: 0;
}

.header-container .container .row {
  height: 48px;
}

.header-container .logo {
  background-image: url('/images/logo.png');
  background-repeat: no-repeat;
  display: block;
  height: 20px;
  width: 170px;
}

.header-container .search {
  max-width: 390px;
  position: relative;
  width: 100%;
}

.header-container .search .search-icon {
  height: 20px;
  left: 20px;
  margin-top: 1px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 22px;
}

.header-container .search form {
  width: 100%;
}

.header-container .search .search-input {
  padding-left: 30px;
  width: 100%;
}

.header-container .search .category-icon {
  height: 33px;
  margin-left: 11px;
  margin-top: -2px;
  width: 33px;
}

.header-container .right-header>.flex-row {
  justify-content: flex-end;
}

.header-container .right-header .members-icon {
  height: 30px;
  margin-right: 28px;
  width: 37px;
}

.header-container .right-header .action-menu::after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #646464;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  content: '';
  display: inline-block;
  right: -10px;
  cursor: pointer;
}

.header-container .right-header .action-menu img {
  border-radius: 50%;
  height: 30px;
  margin-right: 8px;
  margin-top: -2px;
  width: 30px;
}

.header-container .right-header .dropdown:hover>.dropdown-menu {
  cursor: pointer;
  display: block;
}

.header-container .right-header .dropdown.dropdown-toggle:active {
  pointer-events: none;
}

.header-container .right-header .dropdown.dropdown-toggle::after {
  align-self: center;
}

.header-container .right-header .dropdown-menu {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 1px #cdcdcd;
  left: initial;
  margin: 0;
  min-width: 220px;
  padding: 0;
  right: -10px;
}

.header-container .right-header .dropdown-menu .dropdown-item {
  color: #646464;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding: 8px 16px;
}

.header-container .right-header .dropdown-menu .dropdown-item:last-child {
  margin-bottom: 0;
}

.header-container .right-header .dropdown-menu .dropdown-item .notification {
  float: right;
  margin-top: 6px;
}

@media only screen and (max-width: 1100px) {
  .header-container {
    padding: 9px 50px;
  }
}

/* ==========================================================================
   Auth
   ========================================================================== */
.auth {
  background-color: #dcf4fb;
  height: 100%;
  min-height: 100%;
}

.auth .container {
  flex-grow: 1;
}

.auth .form-container {
  width: 465px;
}

.title {
  color: #76c6de;
  font-size: 36px;
  font-style: italic;
  font-weight: bold;
  margin: 0 0 40px;
  text-align: center;
}

.sub-header {
  color: #025069;
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 23px;
  text-align: center;
}

.auth-form input.form-control {
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 4px;
  color: #72888f;
  font-size: 15px;
  height: 40px;
  padding-left: 10px;
}

.auth-form .btn {
  border-radius: 4px;
  height: 46px;
  margin: 7px 0 21px;
  width: 100%;
}

.auth-form {
  margin: 0 auto;
  max-width: 366px !important;
}

.auth-form>div {
  margin-bottom: 20px;
}

.auth-form .row {
  margin-bottom: 0;
}

.auth p {
  color: #025069;
  font-size: 15px;
  font-weight: 500;
  margin: 10px auto 26px;
  max-width: 360px;
}

.more-actions {
  margin: 0 auto;
  max-width: 366px !important;
}

.more-actions p {
  color: #025069;
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 20px;
}

.more-actions p a {
  color: #025069;
  font-weight: bold;
}

.form-successful {
  font-size: 16px;
  width: 465px;
}

.form-successful .title {
  margin-bottom: 120px;
}

.form-successful p {
  color: #62828b;
  font-family: "Circular Std Book";
  font-size: 16px;
  line-height: 21px;
  margin: 10px 0;
  max-width: initial;
}

.form-successful a {
  color: #025069;
  font-weight: bold;
}

.invalid-feedback {
  color: #e74c3c;
  font-size: 14px;
  margin: 4px 0 0 8px;
}

.password-title {
  color: #464646;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 55px;
}

.password-title+.auth-form {
  margin: initial;
  max-width: initial;
}

/* ==========================================================================
   Profile
   ========================================================================== */
.profile-form {
  background-color: #fff;
  border-radius: 2px;
  color: #646464;
  font-size: 16px;
  height: 36px;
  padding-left: 16px;
  width: 100%;
}

.profile-form label {
  color: #979797;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}

.profile-form label span {
  color: #e74c3c;
}

.profile-form h2 {
  color: #025069;
  font-size: 22px;
  font-weight: bold;
  margin: .83em 0 40px;
}

.profile-edit>div {
  margin-bottom: 24px;
}

.profile>.container {
  padding-top: 35px;
}

.profile textarea.form-control {
  height: 156px;
}

.profile textarea.form-control~small {
  bottom: 9px;
  color: #aaa;
  font-size: 12px;
  font-style: italic;
  position: absolute;
  right: 12px;
}

.user-image {
  cursor: pointer;
  margin: 40px 0;
  position: relative;
  text-align: center;
}

.user-image .user {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  width: 100%;
}

.user-image .network {
  bottom: 0;
  height: 70px;
  position: absolute;
  right: 0;
  width: 70px;
}

.user-image .helper-text {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.user-image .helper-text img {
  color: #646469;
  display: block;
  width: 18px;
  margin: 0 auto 2px;
}

.user-image .helper-text span {
  color: #646464;
  font-size: 16px;
  font-weight: 500;
}

.profile-actions .btn {
  width: 100%;
  min-width: initial;
}

.profile-form .chips {
  margin-top: 16px;
}

.profile-form .chips li {
  height: 28px;
  border: solid 1px #969696;
  background-color: #fff;
  font-size: 16px;
  padding: 0 16px;
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
}

.profile-form .chips li:last-child {
  margin-right: 0;
}

.profile-form .chips li .delete {
  float: right;
  color: #b4b4b4;
  margin-left: 8px;
}

#welcomeModal .modal-content {
  border: solid 1px #979797;
  border-radius: 6px;
  box-shadow: 0 2px 8px 0 rgba(70, 70, 70, 0.5);
}

#welcomeModal .modal-content .modal-header {
  background-color: #025069;
  height: 148px;
  position: relative;
  text-align: center;
}

#welcomeModal .modal-content .modal-header>div {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#welcomeModal .modal-content .modal-header img {
  height: 60px;
}

#welcomeModal .modal-content .modal-header h2 {
  color: #fff;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 700;
}

#welcomeModal .modal-content .modal-body {
  color: #464646;
  font-size: 18px;
  line-height: 27px;
  padding: 24px 32px;
}

#welcomeModal .modal-content .modal-body p {
  margin: 0 0 34px;
}

#welcomeModal .modal-content .modal-body .btn {
  width: 100%;
}

.profile-view .name {
  font-size: 40px;
  font-weight: 900;
  margin: 0 0 23px;
}

.profile-view .company, .profile-view .network {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin: 0 0 20px;
}

.profile-view .company {
  font-size: 26px;
  margin: 0;
}

.profile-view .information {
  font-family: 'Circular Std Book';
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 28px;
}

.profile-view .expertise .expertise-title {
  font-size: 21px;
  font-weight: bold;
  margin: 0 0 19px;
}

.profile-view .expertise ul {
  margin: -15px 0 46px;
}

.profile-view .expertise ul li {
  border: solid 1px #464646;
  color: #464646;
  display: inline-block;
  font-size: 18px;
  margin-top: 12px;
  margin-right: 6px;
  padding: 7px 22px;
  text-align: center;
}

.profile-view .network .network-title {
  font-size: 21px;
  font-weight: bold;
  margin: 0 0 19px;
}

.profile-view .network ul {
  margin: 0 0 46px;
}

.profile-view .network ul li {
  margin-bottom: 21px;
  justify-content: flex-start;
}

.profile-view .network ul img {
  display: block;
  height: 60px;
  margin-right: 15px;
  width: 60px;
}

.profile-view .network ul h5.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  margin: 0;
  text-align: left;
  color: #464646;
}

.profile-view .network ul p {
  color: #646464;
  font-family: 'Circular Std Book';
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.profile-view .profile-actions>div {
  position: fixed;
}

.profile-view .profile-actions .profile-images {
  margin-bottom: 40px;
  position: relative;
}

.profile-view .profile-actions .profile-images .profile-image {
  border-radius: 50%;
  display: block;
  height: 280px;
  width: 280px;
  object-fit: cover;
  z-index: 0;
}

.profile-actions .profile-images .profile-network {
  border: 4px solid #fff;
  bottom: 0;
  height: 70px;
  position: absolute;
  right: 0;
  width: 70px;
  z-index: 1;
}

.profile-actions .actions .favorite {
  color: #57afca;
  cursor: pointer;
  font-size: 52px;
  margin-right: 10px;
}

.profile-actions .actions .btn {
  margin-left: 8px;
}

.profile-actions .edit-profile {
  text-align: center;
}

.profile-actions .edit-profile .ng-fa-icon, .profile-actions .edit-profile a {
  color: #57afca;
  font-size: 17px;
  font-weight: 500;
}

.popover {
  max-width: 100%;
  background-color: #025069;
  border: solid 1px #025069;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
  height: 160px;
  margin-top: 25px;
  padding: 18px 22px;
  height: initial;
}

.popover.bs-popover-bottom .arrow {
  left: 90% !important;
}

.popover-body {
  padding: 0;
}

.bs-popover-bottom .arrow::after {
  border-bottom-color: #025069;
}

.welcome-wrapper h2 {
  color: #67c7e5;
  font-size: 18px;
  font-weight: 900;
  margin: 0 0 18px;
}

.welcome-wrapper .icon-row>div {
  margin-right: 4px;
  text-align: center;
  flex: 1 1 0;
}

.welcome-wrapper .icon-row>div>div {
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  font-family: 'Circular Std';
  margin-top: 8px;
}

.welcome-wrapper .icon-row>div:last-child {
  margin-right: 0;
}

.welcome-wrapper .icon-row>div img {
  width: 30px;
}

.welcome-wrapper button {
  background: transparent;
  border: solid 1px #fff;
  color: #fff;
  font-size: 14px;
  height: 30px;
  margin-top: 24px;
  width: 86px;
  cursor: pointer;
}

.welcome-wrapper-2 {
  height: 136px;
  margin-right: -20px;
  width: 300px;
}

.welcome-wrapper-2::before {
  right: 7px;
}

.welcome-wrapper-2 .ng-fa-icon {
  color: #fff;
  font-size: 25px;
  margin-right: 15px;
}

.welcome-wrapper-2 p {
  color: #fff;
  font-size: 14px;
}

.welcome-wrapper-2 button {
  margin-top: 14px;
}